<!doctype html>
<html>
  <head>
    <title> This is the search page </title>
    <h1>The Thirsty Student Search</h1>
    <p>Search here about our wonderful drinks</p>
  </head>
  <body>

    <form action="/search_result" method="GET">
     Name: <input id="search_box" type="text" name="name"method="GET">
     Category: <input id="search_box" type="text" name="category"method="GET">>
      <input type="submit" value="OK" >
    </form>
    </body>
</html>
